@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');
body {
     margin: 0; 
     font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
     background-color: #f9fafb; 
    }